.mtp{
    background-color:#09319e;
    color: antiquewhite;
}

.cas{
    background-color:#910606;
    color: antiquewhite;
}
.aaf{
    background-color:#099e1d;
    color: antiquewhite;
}
.info{
    width: 600px;
}
.pic{
    width: 600px;
}